[Unit]
Description=kiwix-serve
After=network.target

[Service]
Restart=always
ExecStart=/usr/lib/kiwix/bin/kiwix-serve --library --port=8080 /home/smcleod/kiwix-data/library/wiktionary_en_all_2016-08.zim.xml
User=smcleod

[Install]
WantedBy=multi-user.target
